<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD libro</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>

<body>
    <!-- BARRA DE NAVEGACION -->
    <header th:fragment="header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" th:href="@{/}">
                        <strong>A</strong>
                    </a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <!-- ENLACES DEL MENU -->

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/}">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Libros</a>
                            </li>
                        </ul>
                    </div>
                </div>
        </nav>
    </header>

    <!-- CONTENIDO -->
    <div class="container">

    </div>

    <!-- FOOTER -->
    <footer th:fragment="footer" class="bg-dark text-center text-white fixed-bottom">
        <div class="container">
            <p>Copyright Javacode503 &copy; - 2023</p>
        </div>

        <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
    </footer>
</body>

</html>